* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}
.container {
  width: 100vw;
  height: 100vh;
  background-color: rgb(223, 147, 147);
}

.ball {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: red;
}

.ship {
  position: absolute;
  width: 70px;
  height: 10px;
  background-color: #ee3;
  bottom: 30%;
  right: 50%;
}
